.git
.github
.vscode
.idea
**/bin
**/obj
**/node_modules
**/dist
**/coverage
**/TestResults
*.user
.env
.env.*
API/wwwroot/images/recipes/*
app/
tests/
API/bin/
API/obj/
Core.Application/bin/
Core.Application/obj/
Core.Domain/bin/
Core.Domain/obj/
Infrastructure/bin/
Infrastructure/obj/
